body
{
margin:0px;
padding: 0px;
background:url(images/loginbackground.jpg) no-repeat;
background-size: cover;
}
.signup-form{
  width: 300px;
  padding: 20px;
  text-align:center;
  background:#F4F6F7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border-radius: 05px;
}
.signup-form img{
  padding-bottom:10px;
}
.signup-form input{
  display: block;
  width:100%;
  padding-left: 10px;
  height: 44px;
  box-sizing:border-box;
  border: none;
  font-family:'Literata' ,sans-serif;
  font-size: 14px;
}
.txt{
  margin:20px 0px;
border-radius: 05px;
}
.btn{
  margin-top:40px;
  margin-bottom:20px;
  background:#487eb0;
  color:#fff;
  border-radius:40px;
  cursor:pointer;
  transition: 0.8s;
}
.btn-hover{
  transform: scale(0.96);
}
.signup-form a{
  text-decoration: none;
  color:#000;
  font-family:'Literata' ,sans-serif;
padding: 10px;
transition:0.8s;
display: block;
}
.signup-form a:hover{
background:rgba(0,0,0,0.3);
color: #000;
}
